config NAGINATA
    bool "Enable Naginata"
    default y

config ZMK_BEHAVIOR_MOD_UNTIL_LAYER
    bool "Enable mod-until-layer behavior"
    default y

config ZMK_BEHAVIOR_NG_OFF_SHIFT
    bool "Enable Naginata-off shift-hold behavior"
    default y
